@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}


body {
  color: black;
  background-color : white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#beresin-sidebar  ul  li:hover,
#beresin-sidebar  ul  li.active {
  background-color: white;
  color: black;
}

.bg-primary{
  background-color : #708CD5;
}


